.footer-wrapper {
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 80px 85px 45px 80px !important;
}

.connect_with_us {
    font-family: Oatmeal Pro TRIAL;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
}

