.nav-bar {
    min-height: 7.5rem;
    background-color: #fff !important;
}
img.logo {
    width: 14vw;
}
.navLinks{
    width: 100%;
}
.linkName{
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 140%;
    color: #000000 !important;
    margin-right: 5vw;
}
.linkName:hover,.linkName:active{
    text-decoration: underline;
}
.market-place{
    border: 1px solid;
    border-radius: 5px;
    padding: 0.6vw 15px !important;
}